{% extends 'layout.html' %}
{% block title %}主页{% endblock %}
{% block blog_title %}尘浮{% endblock %}
{% block page_header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image:url({{ url_for('static',filename='img/home-bg.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>至·简 </h1>
                        <hr class="small">
                        <span class="subheading"> By Shone</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% if pagination %}
                {% for post in posts %}
                    {% include '_post_preview.html' %}
                {% endfor %}
            {% endif %}
                <!-- Pager -->
                <ul class="pager">
                    {% if pagination.has_prev %}
                        <li class="prev" style="float:left">
                            <a href="{{ url_for('main.index',page=pagination.prev_num) }}">上一篇 &larr;</a>
                        </li>
                    {% endif %}
                    {% if pagination.has_next %}
                        <li class="next">
                            <a href="{{ url_for('main.index',page=pagination.next_num) }}">下一篇 &rarr;</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}



